In [84]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [85]:
url = "http://www.basketball-reference.com/draft/NBA_2016.html"

html = urlopen(url)

In [86]:
soup = BeautifulSoup(html)
type(soup)

C:\Users\darthjarjar\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\darthjarjar\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

bs4.BeautifulSoup

In [121]:
column_headers = [th.getText() for th in
                  soup.findAll('tr', limit=2)[1].findAll('th')]

In [88]:
column_headers

['Rk',
 'Pk',
 'Tm',
 'Player',
 'College',
 'Yrs',
 'G',
 'MP',
 'PTS',
 'TRB',
 'AST',
 'FG%',
 '3P%',
 'FT%',
 'MP',
 'PTS',
 'TRB',
 'AST',
 'WS',
 'WS/48',
 'BPM',
 'VORP']

In [89]:
data_rows = soup.findAll('tr')[2:]
player_data = [[td.getText() for td in data_rows[i].findAll('td')]
              for i in range(len(data_rows))]
player_data

[['1',
  'PHI',
  'Ben Simmons',
  'Louisiana State University',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['2',
  'LAL',
  'Brandon Ingram',
  'Duke University',
  '1',
  '79',
  '2279',
  '740',
  '317',
  '166',
  '.402',
  '.294',
  '.621',
  '28.8',
  '9.4',
  '4.0',
  '2.1',
  '-0.3',
  '-.007',
  '-3.9',
  '-1.1'],
 ['3',
  'BOS',
  'Jaylen Brown',
  'University of California',
  '1',
  '78',
  '1341',
  '515',
  '220',
  '64',
  '.454',
  '.341',
  '.685',
  '17.2',
  '6.6',
  '2.8',
  '0.8',
  '1.5',
  '.053',
  '-4.0',
  '-0.7'],
 ['4',
  'PHO',
  'Dragan Bender',
  '',
  '1',
  '43',
  '574',
  '146',
  '103',
  '23',
  '.354',
  '.277',
  '.364',
  '13.3',
  '3.4',
  '2.4',
  '0.5',
  '-0.3',
  '-.029',
  '-4.3',
  '-0.3'],
 ['5',
  'MIN',
  'Kris Dunn',
  'Providence College',
  '1',
  '78',
  '1333',
  '293',
  '166',
  '188',
  '.377',
  '.288',
  '.610',
  '17.1',
  '3.8',
  '2.1',
  '2.4',
  '0.1',
  '.004',
  '-2.2',
  '-0.1'],
 ['6',
  'NOP',
  'Buddy Hield',
  'University of Oklahoma',
  '1',
  '82',
  '1888',
  '866',
  '269',
  '121',
  '.426',
  '.391',
  '.842',
  '23.0',
  '10.6',
  '3.3',
  '1.5',
  '1.3',
  '.032',
  '-2.8',
  '-0.4'],
 ['7',
  'DEN',
  'Jamal Murray',
  'University of Kentucky',
  '1',
  '82',
  '1764',
  '811',
  '214',
  '170',
  '.405',
  '.334',
  '.883',
  '21.5',
  '9.9',
  '2.6',
  '2.1',
  '1.4',
  '.038',
  '-2.5',
  '-0.2'],
 ['8',
  'SAC',
  'Marquese Chriss',
  'University of Washington',
  '1',
  '82',
  '1743',
  '753',
  '348',
  '60',
  '.449',
  '.321',
  '.624',
  '21.3',
  '9.2',
  '4.2',
  '0.7',
  '1.8',
  '.050',
  '-1.6',
  '0.2'],
 ['9',
  'TOR',
  'Jakob Poeltl',
  'University of Utah',
  '1',
  '54',
  '626',
  '165',
  '165',
  '12',
  '.583',
  '',
  '.544',
  '11.6',
  '3.1',
  '3.1',
  '0.2',
  '1.6',
  '.126',
  '-0.6',
  '0.2'],
 ['10',
  'MIL',
  'Thon Maker',
  '',
  '1',
  '57',
  '562',
  '226',
  '114',
  '23',
  '.459',
  '.378',
  '.653',
  '9.9',
  '4.0',
  '2.0',
  '0.4',
  '1.3',
  '.113',
  '-1.5',
  '0.1'],
 ['11',
  'ORL',
  'Domantas Sabonis',
  'Gonzaga University',
  '1',
  '81',
  '1632',
  '479',
  '288',
  '82',
  '.399',
  '.321',
  '.657',
  '20.1',
  '5.9',
  '3.6',
  '1.0',
  '0.7',
  '.022',
  '-4.8',
  '-1.2'],
 ['12',
  'UTA',
  'Taurean Prince',
  'Baylor University',
  '1',
  '59',
  '981',
  '335',
  '157',
  '55',
  '.399',
  '.324',
  '.787',
  '16.6',
  '5.7',
  '2.7',
  '0.9',
  '1.1',
  '.052',
  '-2.4',
  '-0.1'],
 ['13',
  'PHO',
  'Georgios Papagiannis',
  '',
  '1',
  '22',
  '355',
  '124',
  '86',
  '20',
  '.549',
  '.000',
  '.857',
  '16.1',
  '5.6',
  '3.9',
  '0.9',
  '0.4',
  '.058',
  '-2.7',
  '-0.1'],
 ['14',
  'CHI',
  'Denzel Valentine',
  'Michigan State University',
  '1',
  '57',
  '976',
  '291',
  '151',
  '63',
  '.354',
  '.351',
  '.778',
  '17.1',
  '5.1',
  '2.6',
  '1.1',
  '0.6',
  '.031',
  '-2.8',
  '-0.2'],
 ['15',
  'DEN',
  'Juan Hernangomez',
  '',
  '1',
  '62',
  '842',
  '305',
  '187',
  '29',
  '.453',
  '.411',
  '.750',
  '13.6',
  '4.9',
  '3.0',
  '0.5',
  '1.8',
  '.104',
  '-1.3',
  '0.1'],
 ['16',
  'BOS',
  'Guerschon Yabusele',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['17',
  'MEM',
  'Wade Baldwin',
  'Vanderbilt University',
  '1',
  '33',
  '405',
  '106',
  '46',
  '61',
  '.316',
  '.136',
  '.838',
  '12.3',
  '3.2',
  '1.4',
  '1.8',
  '-0.3',
  '-.041',
  '-5.6',
  '-0.4'],
 ['18',
  'DET',
  'Henry Ellenson',
  'Marquette University',
  '1',
  '19',
  '146',
  '60',
  '41',
  '7',
  '.359',
  '.294',
  '.500',
  '7.7',
  '3.2',
  '2.2',
  '0.4',
  '-0.2',
  '-.071',
  '-8.3',
  '-0.2'],
 ['19',
  'DEN',
  'Malik Beasley',
  'Florida State University',
  '1',
  '22',
  '165',
  '83',
  '17',
  '11',
  '.452',
  '.321',
  '.800',
  '7.5',
  '3.8',
  '0.8',
  '0.5',
  '0.2',
  '.057',
  '-4.0',
  '-0.1'],
 ['20',
  'IND',
  'Caris LeVert',
  'University of Michigan',
  '1',
  '57',
  '1237',
  '468',
  '188',
  '110',
  '.450',
  '.321',
  '.720',
  '21.7',
  '8.2',
  '3.3',
  '1.9',
  '1.8',
  '.070',
  '-1.1',
  '0.3'],
 ['21',
  'ATL',
  'DeAndre Bembry',
  "Saint Joseph's University",
  '1',
  '38',
  '371',
  '101',
  '59',
  '29',
  '.480',
  '.056',
  '.375',
  '9.8',
  '2.7',
  '1.6',
  '0.8',
  '0.3',
  '.040',
  '-4.2',
  '-0.2'],
 ['22',
  'CHO',
  'Malachi Richardson',
  'Syracuse University',
  '1',
  '22',
  '198',
  '79',
  '23',
  '11',
  '.412',
  '.286',
  '.789',
  '9.0',
  '3.6',
  '1.0',
  '0.5',
  '0.1',
  '.028',
  '-5.5',
  '-0.2'],
 ['23',
  'BOS',
  'Ante Zizic',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['24',
  'PHI',
  'Timothe Luwawu',
  '',
  '1',
  '69',
  '1190',
  '445',
  '148',
  '75',
  '.402',
  '.311',
  '.854',
  '17.2',
  '6.4',
  '2.1',
  '1.1',
  '0.8',
  '.034',
  '-4.0',
  '-0.6'],
 ['25',
  'LAC',
  'Brice Johnson',
  'University of North Carolina',
  '1',
  '3',
  '9',
  '4',
  '3',
  '1',
  '.286',
  '',
  '',
  '3.0',
  '1.3',
  '1.0',
  '0.3',
  '0.0',
  '-.164',
  '1.3',
  '0.0'],
 ['26',
  'PHI',
  'Furkan Korkmaz',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['27',
  'TOR',
  'Pascal Siakam',
  'New Mexico State University',
  '1',
  '55',
  '859',
  '229',
  '186',
  '17',
  '.502',
  '.143',
  '.688',
  '15.6',
  '4.2',
  '3.4',
  '0.3',
  '1.6',
  '.089',
  '-1.1',
  '0.2'],
 ['28',
  'PHO',
  'Skal Labissiere',
  'University of Kentucky',
  '1',
  '33',
  '612',
  '289',
  '162',
  '27',
  '.537',
  '.375',
  '.703',
  '18.5',
  '8.8',
  '4.9',
  '0.8',
  '1.3',
  '.099',
  '-2.6',
  '-0.1'],
 ['29',
  'SAS',
  'Dejounte Murray',
  'University of Washington',
  '1',
  '38',
  '322',
  '130',
  '42',
  '48',
  '.431',
  '.391',
  '.700',
  '8.5',
  '3.4',
  '1.1',
  '1.3',
  '0.0',
  '.004',
  '-4.8',
  '-0.2'],
 ['30',
  'GSW',
  'Damian Jones',
  'Vanderbilt University',
  '1',
  '10',
  '85',
  '19',
  '23',
  '0',
  '.500',
  '',
  '.300',
  '8.5',
  '1.9',
  '2.3',
  '0.0',
  '0.0',
  '.018',
  '-9.6',
  '-0.2'],
 [],
 [],
 ['31',
  'BOS',
  'Deyonta Davis',
  'Michigan State University',
  '1',
  '36',
  '238',
  '58',
  '60',
  '2',
  '.511',
  '',
  '.556',
  '6.6',
  '1.6',
  '1.7',
  '0.1',
  '0.5',
  '.097',
  '-3.6',
  '-0.1'],
 ['32',
  'LAL',
  'Ivica Zubac',
  '',
  '1',
  '38',
  '609',
  '284',
  '159',
  '30',
  '.529',
  '.000',
  '.653',
  '16.0',
  '7.5',
  '4.2',
  '0.8',
  '1.1',
  '.086',
  '-2.5',
  '-0.1'],
 ['33',
  'LAC',
  'Cheick Diallo',
  'University of Kansas',
  '1',
  '17',
  '199',
  '87',
  '73',
  '4',
  '.474',
  '',
  '.714',
  '11.7',
  '5.1',
  '4.3',
  '0.2',
  '0.5',
  '.111',
  '-5.6',
  '-0.2'],
 ['34',
  'PHO',
  'Tyler Ulis',
  'University of Kentucky',
  '1',
  '61',
  '1123',
  '444',
  '95',
  '226',
  '.421',
  '.266',
  '.775',
  '18.4',
  '7.3',
  '1.6',
  '3.7',
  '0.7',
  '.029',
  '-4.0',
  '-0.6'],
 ['35',
  'BOS',
  'Rade Zagorac',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['36',
  'MIL',
  'Malcolm Brogdon',
  'University of Virginia',
  '1',
  '75',
  '1982',
  '767',
  '213',
  '318',
  '.457',
  '.404',
  '.865',
  '26.4',
  '10.2',
  '2.8',
  '4.2',
  '4.1',
  '.100',
  '-0.5',
  '0.8'],
 ['37',
  'HOU',
  'Chinanu Onuaku',
  'University of Louisville',
  '1',
  '5',
  '52',
  '14',
  '10',
  '3',
  '.714',
  '',
  '1.000',
  '10.4',
  '2.8',
  '2.0',
  '0.6',
  '0.1',
  '.123',
  '-0.6',
  '0.0'],
 ['38',
  'MIL',
  'Patrick McCaw',
  'University of Nevada, Las Vegas',
  '1',
  '71',
  '1074',
  '282',
  '101',
  '77',
  '.433',
  '.333',
  '.784',
  '15.1',
  '4.0',
  '1.4',
  '1.1',
  '1.7',
  '.077',
  '-1.7',
  '0.1'],
 ['39',
  'NOP',
  'David Michineau',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['40',
  'NOP',
  'Diamond Stone',
  'University of Maryland',
  '1',
  '7',
  '24',
  '10',
  '6',
  '0',
  '.231',
  '',
  '1.000',
  '3.4',
  '1.4',
  '0.9',
  '0.0',
  '-0.1',
  '-.211',
  '-24.1',
  '-0.1'],
 ['41',
  'ORL',
  'Stephen Zimmerman',
  'University of Nevada, Las Vegas',
  '1',
  '19',
  '108',
  '23',
  '35',
  '4',
  '.323',
  '',
  '.600',
  '5.7',
  '1.2',
  '1.8',
  '0.2',
  '0.0',
  '-.005',
  '-7.3',
  '-0.1'],
 ['42',
  'UTA',
  'Isaiah Whitehead',
  'Seton Hall University',
  '1',
  '73',
  '1643',
  '543',
  '183',
  '192',
  '.402',
  '.295',
  '.805',
  '22.5',
  '7.4',
  '2.5',
  '2.6',
  '-0.8',
  '-.024',
  '-4.9',
  '-1.2'],
 ['43',
  'HOU',
  'Zhou Qi',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['44',
  'ATL',
  'Isaia Cordinier',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['45',
  'BOS',
  'Demetrius Jackson',
  'University of Notre Dame',
  '1',
  '5',
  '17',
  '10',
  '4',
  '3',
  '.750',
  '1.000',
  '.500',
  '3.4',
  '2.0',
  '0.8',
  '0.6',
  '0.1',
  '.386',
  '6.4',
  '0.0'],
 ['46',
  'DAL',
  'A.J. Hammons',
  'Purdue University',
  '1',
  '22',
  '163',
  '48',
  '36',
  '4',
  '.405',
  '.500',
  '.450',
  '7.4',
  '2.2',
  '1.6',
  '0.2',
  '0.0',
  '-.001',
  '-5.6',
  '-0.1'],
 ['47',
  'ORL',
  'Jake Layman',
  'University of Maryland',
  '1',
  '35',
  '249',
  '78',
  '24',
  '11',
  '.292',
  '.255',
  '.765',
  '7.1',
  '2.2',
  '0.7',
  '0.3',
  '-0.3',
  '-.054',
  '-7.4',
  '-0.3'],
 ['48',
  'CHI',
  'Paul Zipser',
  '',
  '1',
  '44',
  '843',
  '240',
  '125',
  '36',
  '.398',
  '.333',
  '.775',
  '19.2',
  '5.5',
  '2.8',
  '0.8',
  '0.5',
  '.030',
  '-3.7',
  '-0.4'],
 ['49',
  'DET',
  'Michael Gbinije',
  'Syracuse University',
  '1',
  '9',
  '32',
  '4',
  '3',
  '2',
  '.100',
  '.000',
  '1.000',
  '3.6',
  '0.4',
  '0.3',
  '0.2',
  '-0.1',
  '-.136',
  '-10.4',
  '-0.1'],
 ['50',
  'IND',
  'Georges Niang',
  'Iowa State University',
  '1',
  '23',
  '93',
  '21',
  '17',
  '5',
  '.250',
  '.083',
  '1.000',
  '4.0',
  '0.9',
  '0.7',
  '0.2',
  '-0.3',
  '-.168',
  '-12.1',
  '-0.2'],
 ['51',
  'BOS',
  'Ben Bentil',
  'Providence College',
  '1',
  '3',
  '10',
  '0',
  '2',
  '0',
  '.000',
  '.000',
  '',
  '3.3',
  '0.0',
  '0.7',
  '0.0',
  '-0.1',
  '-.473',
  '-26.9',
  '-0.1'],
 ['52',
  'UTA',
  'Joel Bolomboy',
  'Weber State University',
  '1',
  '12',
  '53',
  '22',
  '17',
  '2',
  '.563',
  '.250',
  '.500',
  '4.4',
  '1.8',
  '1.4',
  '0.2',
  '0.2',
  '.171',
  '-0.8',
  '0.0'],
 ['53',
  'DEN',
  'Petr Cornelie',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['54',
  'ATL',
  'Kay Felder',
  'Oakland University',
  '1',
  '42',
  '386',
  '166',
  '41',
  '58',
  '.392',
  '.318',
  '.714',
  '9.2',
  '4.0',
  '1.0',
  '1.4',
  '0.0',
  '.004',
  '-6.1',
  '-0.4'],
 ['55',
  'BRK',
  'Marcus Paige',
  'University of North Carolina',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['56',
  'DEN',
  'Daniel Hamilton',
  'University of Connecticut',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['57',
  'MEM',
  'Wang Zhelin',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['58',
  'BOS',
  'Abdel Nader',
  'Iowa State University',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['59',
  'SAC',
  'Isaiah Cousins',
  'University of Oklahoma',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  ''],
 ['60',
  'UTA',
  'Tyrone Wallace',
  'University of California',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '',
  '']]

In [90]:
df = pd.DataFrame(player_data, columns=column_headers[1:])

In [91]:
df.head()

,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,AST,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1,PHI,Ben Simmons,Louisiana State University,,,,,,,...,,,,,,,,,,
1,2,LAL,Brandon Ingram,Duke University,1,79,2279,740,317,166,...,.294,.621,28.8,9.4,4.0,2.1,-0.3,-.007,-3.9,-1.1
2,3,BOS,Jaylen Brown,University of California,1,78,1341,515,220,64,...,.341,.685,17.2,6.6,2.8,0.8,1.5,.053,-4.0,-0.7
3,4,PHO,Dragan Bender,,1,43,574,146,103,23,...,.277,.364,13.3,3.4,2.4,0.5,-0.3,-.029,-4.3,-0.3
4,5,MIN,Kris Dunn,Providence College,1,78,1333,293,166,188,...,.288,.610,17.1,3.8,2.1,2.4,0.1,.004,-2.2,-0.1

In [92]:
df[df['Pk'].isnull()]

,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,AST,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
30,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
31,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [93]:
df = df[df.Player.notnull()]

In [94]:
df = df.rename(columns={'WS/48':'WS_per_48'})

In [95]:
df.columns = df.columns.str.replace('%','_Perc')

In [96]:
df.columns.values[13:17] = [df.columns.values[13:17][col] +
                 "_per_G" for col in range(4)]

In [97]:
print(df.columns)

Index(['Pk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS', 'TRB', 'AST',
       'FG_Perc', '3P_Perc', 'FT_Perc', 'MP_per_G', 'PTS_per_G', 'TRB_per_G',
       'AST_per_G', 'WS', 'WS_per_48', 'BPM', 'VORP'],
      dtype='object')

In [98]:
df.dtypes

Pk           object
Tm           object
Player       object
College      object
Yrs          object
G            object
MP           object
PTS          object
TRB          object
AST          object
FG_Perc      object
3P_Perc      object
FT_Perc      object
MP_per_G     object
PTS_per_G    object
TRB_per_G    object
AST_per_G    object
WS           object
WS_per_48    object
BPM          object
VORP         object
dtype: object

In [99]:
df = df.convert_objects(convert_numeric=True)
df.dtypes

C:\Users\darthjarjar\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

Pk             int64
Tm            object
Player        object
College       object
Yrs          float64
G            float64
MP           float64
PTS          float64
TRB          float64
AST          float64
FG_Perc      float64
3P_Perc      float64
FT_Perc      float64
MP_per_G     float64
PTS_per_G    float64
TRB_per_G    float64
AST_per_G    float64
WS           float64
WS_per_48    float64
BPM          float64
VORP         float64
dtype: object

In [100]:
df = df[:].fillna(0)

In [101]:
df.loc[:, 'Yrs':'AST'] = df.loc[:, 'Yrs':'AST'].astype(int)

In [102]:
df.head()

,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,AST,...,3P_Perc,FT_Perc,MP_per_G,PTS_per_G,TRB_per_G,AST_per_G,WS,WS_per_48,BPM,VORP
0,1,PHI,Ben Simmons,Louisiana State University,0,0,0,0,0,0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0
1,2,LAL,Brandon Ingram,Duke University,1,79,2279,740,317,166,...,0.294,0.621,28.8,9.4,4.0,2.1,-0.3,-0.007,-3.9,-1.1
2,3,BOS,Jaylen Brown,University of California,1,78,1341,515,220,64,...,0.341,0.685,17.2,6.6,2.8,0.8,1.5,0.053,-4.0,-0.7
3,4,PHO,Dragan Bender,,1,43,574,146,103,23,...,0.277,0.364,13.3,3.4,2.4,0.5,-0.3,-0.029,-4.3,-0.3
4,5,MIN,Kris Dunn,Providence College,1,78,1333,293,166,188,...,0.288,0.610,17.1,3.8,2.1,2.4,0.1,0.004,-2.2,-0.1

In [103]:
df.dtypes

Pk             int64
Tm            object
Player        object
College       object
Yrs            int32
G              int32
MP             int32
PTS            int32
TRB            int32
AST            int32
FG_Perc      float64
3P_Perc      float64
FT_Perc      float64
MP_per_G     float64
PTS_per_G    float64
TRB_per_G    float64
AST_per_G    float64
WS           float64
WS_per_48    float64
BPM          float64
VORP         float64
dtype: object

In [104]:
df.insert(0, 'Draft_Yr', 2016)

In [105]:
df.columns

Index(['Draft_Yr', 'Pk', 'Tm', 'Player', 'College', 'Yrs', 'G', 'MP', 'PTS',
       'TRB', 'AST', 'FG_Perc', '3P_Perc', 'FT_Perc', 'MP_per_G', 'PTS_per_G',
       'TRB_per_G', 'AST_per_G', 'WS', 'WS_per_48', 'BPM', 'VORP'],
      dtype='object')

In [119]:
url_template = 'http://www.basketball-reference.com/draft/NBA_{year}.html'

In [120]:
draft_df = pd.DataFrame()

In [122]:
for year in range(1966, 2017):
    url = url_template.format(year=year)
    
    html = urlopen(url)
    soup = BeautifulSoup(html, 'lxml')
    
    data_rows = soup.findAll('tr')[2:]
    player_data = [[td.getText() for td in data_rows[i].findAll('td')]
                  for i in range(len(data_rows))]
    
    year_df = pd.DataFrame(player_data, columns=column_headers[1:])
    year_df.insert(0, 'Draft_Yr', year)
    
    draft_df = draft_df.append(year_df, ignore_index=True)

In [123]:
draft_df.head()

,Draft_Yr,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
0,1966,1,NYK,Cazzie Russell,University of Michigan,12,817,22213,12377,3068,...,,.827,27.2,15.1,3.8,2.2,51.7,.112,-2.0,0.1
1,1966,2,DET,Dave Bing,Syracuse University,12,901,32769,18327,3420,...,,.775,36.4,20.3,3.8,6.0,68.8,.101,0.6,8.5
2,1966,3,SFW,Clyde Lee,Vanderbilt University,10,742,19885,5733,7626,...,,.614,26.8,7.7,10.3,1.1,33.5,.081,-2.4,-0.6
3,1966,4,STL,Lou Hudson,University of Minnesota,13,890,29794,17940,3926,...,,.797,33.5,20.2,4.4,2.7,81.0,.131,0.1,5.9
4,1966,5,BAL,Jack Marin,Duke University,11,849,24590,12541,4405,...,,.843,29.0,14.8,5.2,2.1,59.3,.116,-2.8,-1.4

In [124]:
draft_df.tail()

,Draft_Yr,Pk,Tm,Player,College,Yrs,G,MP,PTS,TRB,...,3P%,FT%,MP,PTS,TRB,AST,WS,WS/48,BPM,VORP
6569,2016,56,DEN,Daniel Hamilton,University of Connecticut,,,,,,...,,,,,,,,,,
6570,2016,57,MEM,Wang Zhelin,,,,,,,...,,,,,,,,,,
6571,2016,58,BOS,Abdel Nader,Iowa State University,,,,,,...,,,,,,,,,,
6572,2016,59,SAC,Isaiah Cousins,University of Oklahoma,,,,,,...,,,,,,,,,,
6573,2016,60,UTA,Tyrone Wallace,University of California,,,,,,...,,,,,,,,,,

In [125]:
draft_df.dtypes

Draft_Yr     int64
Pk          object
Tm          object
Player      object
College     object
Yrs         object
G           object
MP          object
PTS         object
TRB         object
AST         object
FG%         object
3P%         object
FT%         object
MP          object
PTS         object
TRB         object
AST         object
WS          object
WS/48       object
BPM         object
VORP        object
dtype: object

In [126]:
draft_df = draft_df.convert_objects(convert_numeric=True)

draft_df = draft_df[draft_df.Player.notnull()]

draft_df = draft_df.fillna(0)

draft_df.rename(columns={'WS/48':'WS_per_48'}, inplace=True)

draft_df.columns = draft_df.columns.str.replace('%', '_Perc')

draft_df.columns.values[14:18] = [draft_df.columns.values[14:18][col] + 
                                 "_per_G" for col in range(4)]
draft_df.loc[:,'Yrs':'AST'] = draft_df.loc[:,'Yrs':'AST'].astype(int)

C:\Users\darthjarjar\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [127]:
draft_df['Pk'] = draft_df['Pk'].astype(int)

In [128]:
draft_df.dtypes

Draft_Yr       int64
Pk             int32
Tm            object
Player        object
College       object
Yrs            int32
G              int32
MP             int32
PTS            int32
TRB            int32
AST            int32
FG_Perc      float64
3P_Perc      float64
FT_Perc      float64
MP_per_G     float64
PTS_per_G    float64
TRB_per_G    float64
AST_per_G    float64
WS           float64
WS_per_48    float64
BPM          float64
VORP         float64
dtype: object

In [129]:
draft_df.isnull().sum()

Draft_Yr     0
Pk           0
Tm           0
Player       0
College      0
Yrs          0
G            0
MP           0
PTS          0
TRB          0
AST          0
FG_Perc      0
3P_Perc      0
FT_Perc      0
MP_per_G     0
PTS_per_G    0
TRB_per_G    0
AST_per_G    0
WS           0
WS_per_48    0
BPM          0
VORP         0
dtype: int64

In [132]:
draft_df.to_csv("../csv/nba_draft_data.csv")